* {
    sys-name:    "── ARCHBARNEYXIIIMKIIX ──";
    sys-time:    "󰃭 Thu 17 Sep · 17:09";
    sys-uptime:  "󱑂 Up 22h 51m";
    sys-ram:     "󰍛 RAM 10.1 GB / 62 GB (16%)";
    sys-disk:    "󰋊 Disk 780 GB / 938 GB (88%)";
    sys-temp:    "󰔏 CPU 70°C · GPU 42°C";
    sys-pkgs:    "󰏖 5 updates pending";
}
